.modal {
  .modal-slide-in-bottom {
    animation: slide-in-bottom 300ms ease;
  }

  .modal-slide-in-left {
    animation: slide-in-left 300ms ease;
  }

  .modal-400 {
    max-width: 400px !important;
  }

  .modal-800 {
    max-width: 800px !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;

    @media (max-width: 500px) {
      margin: 0 !important;
    }
  }

  .modal-right {
    margin: 0px !important;
    margin-left: auto !important;

    & .modal-content {
      min-height: 100vh !important;
    }
  }

  :has(> .modal-body) {
    max-height: 100vh;

    .modal-body {
      overflow: scroll;
    }

    .modal-footer {
      box-shadow: 0px -2px 5px 0px #2c2c2c5c;
    }
  }
}

.fade {
  transition: opacity 100ms ease-in !important;
}
