<div>
  <ng-container *ngIf="!selectedCollection">
    <h4 class="mt-20px ml-10px">Bookmarks</h4>
    <div class="collections-grid">
      <ng-container
        *ngFor="
          let collection of bookmark?.collections;
          let i = index;
          let last = last
        "
      >
        <div
          class="card p-2 m-10px text-center"
          (click)="viewCollection(collection)"
        >
          <div
            class="ms-auto"
            *ngIf="editingCollectionAt != i"
            dropdown
            container="body"
          >
            <span
              class="bi bi-three-dots-vertical bi-clickable"
              dropdownToggle
              aria-controls="bookmark-option-dropdown"
            >
            </span>
            <ul
              id="bookmark-option-dropdown"
              *dropdownMenu
              class="dropdown-menu"
            >
              <li (click)="updateCollectionName(i)" class="dropdown-item">
                Edit
              </li>
              <li
                (click)="openConfirmationModal(collection)"
                class="dropdown-item"
              >
                Delete
              </li>
            </ul>
          </div>
          <div>
            <ng-container
              *ngIf="editingCollectionAt == i"
              (click)="$event.stopPropagation()"
            >
              <div>
                <p>Edit Collection Name</p>
                <input
                  type="text"
                  class="form-control-sm"
                  [(ngModel)]="newCollectionName"
                  (keydown.enter)="editCollectionName(collection)"
                />
              </div>
              <button
                class="btn btn-sm btn-primary mt-10px mr-10px"
                (click)="
                  editCollectionName(collection); $event.stopPropagation()
                "
              >
                Update
              </button>
              <button
                class="btn btn-sm btn-secondary mt-10px"
                (click)="editingCollectionAt = null; $event.stopPropagation()"
              >
                Discard
              </button>
            </ng-container>
            <ng-container *ngIf="editingCollectionAt != i">
              <p>
                {{ collection.name }}
              </p>
              <p>{{ collection.recipeCount }}</p>
            </ng-container>
          </div>
        </div>
      </ng-container>
      <div class="card p-2 m-10px text-center">
        <div class="my-auto">
          <ng-container *ngIf="isAddingCollection">
            <div>
              <p>Add New Collection</p>
              <input
                type="text"
                class="form-control-sm"
                placeholder="Collection Name"
                title="press enter to add the collection"
                [(ngModel)]="newCollectionName"
              />
            </div>
            <button
              class="btn btn-sm btn-primary mt-10px mr-10px"
              (click)="createNewCollection()"
            >
              Add
            </button>
            <button
              class="btn btn-sm btn-secondary mt-10px"
              (click)="isAddingCollection = false"
            >
              Discard
            </button>
          </ng-container>
          <ng-container *ngIf="!isAddingCollection">
            <span
              class="bi bi-plus-circle bi-clickable fs-24"
              (click)="addNewCollection()"
            ></span>
            <p>Add new Collection</p>
          </ng-container>
        </div>
      </div>
    </div>
  </ng-container>
  <div class="h-90vh" *ngIf="selectedCollection">
    <button
      class="btn btn-sm btn-outline-secondary"
      (click)="selectedCollection = null"
    >
      <i class="bi bi-arrow-left"></i> Go back to bookmarks
    </button>
    <app-recipe [recipeIds]="selectedRecipeIds"></app-recipe>
  </div>
</div>
