@import "./components/keyframes";

.left-container {
  flex-basis: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;

  & .filters-container {
    background-color: white;
    border-radius: 4px;
    padding: 10px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  }

  & .recipe-list-container {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-content: flex-start;
    background: white;
    border-radius: 4px;
    padding: 10px;
    height: 100%;
    overflow-y: auto;

    & .recipe-card {
      flex: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
      padding: 10px 6px;
      margin: 4px 0px;
      border: 1px solid #dddddd;
      border-radius: 4px;
      box-shadow: 0px 0px 10px #d6d6d6;
      transition: all 150ms ease-out;
      cursor: pointer;

      &:hover,
      &-selected {
        border-bottom: 4px solid #ffbf48;
        transform-origin: center;
        transform: scale(1.005) translateY(-2px);
      }

      &:active {
        transform: scale(1);
      }

      .card-img {
        width: 100%;
        height: 180px;
        object-fit: cover;
        object-position: center;
      }

      .card-content {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
      }
    }
  }

  @media (min-width: 500px) {
    & .recipe-list-container {
      gap: 2%;

      .recipe-card {
        flex: 0 49%;
        // background: linear-gradient(to right, #ffbf48 20%, transparent 20%);

        .recipe-img {
          object-fit: scale-down;
        }
      }
    }
  }

  @media (min-width: 850px) {
    flex-basis: 40%;
    & .recipe-list-container {
      & .recipe-card {
        flex: 100%;
        flex-direction: row;
      }

      & .card-img {
        width: 70px !important;
        height: 70px !important;
        border-radius: 4px;
        margin: 0 10px;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
      }
    }
  }

  @media (min-width: 1000px) {
    flex-basis: 35%;
  }

  @media (min-width: 1200px) {
    flex-basis: 30%;
  }
}

.right-container {
  flex: 1;
  display: flex;
  flex-direction: column;

  .recipe-detail-container {
    flex: 1;
    border: 1px;
    border-radius: 4px;
    padding: 12px 8px;
    overflow-y: auto;
    backdrop-filter: blur(10px);

    .recipe-section-col-2 {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;

      & > * {
        min-width: 250px;
        flex: 1;
      }
    }

    .recipe-section {
      border-radius: 4px;
      padding: 20px 30px;
      margin-top: 20px;
      background: #fbfaf4;
      box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.4);
    }

    .recipe-img {
      object-fit: cover;
      height: 350px;
      border-radius: 4px;
      box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.4);
    }

    .recipe-ingredients-section {
      height: 350px;
      display: flex;
      flex-direction: column;
      align-items: center;
      background: #fbfaf4;
      box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.4);

      .recipe-ingredients-container {
        flex: 1;
        overflow-y: auto;
        margin-top: 10px;
        padding: 4px 16px;

        .recipe-ingredient {
          cursor: pointer;
          display: flex;
        }
      }
    }

    @media (min-width: 850px) {
      display: block;
      padding: 20px 40px;
      margin-left: 20px;
      background: linear-gradient(white 50%, #ffbf48 50% 90%, #ffffff 90%);

      .recipe-section-col-2 > * {
        min-width: max(calc(50% - 20px), 300px);
      }
    }
  }
}
