//colors
$primary: #ffc107;
$dark: #413f3a;

//border-radius
$border-radius: 4px;
$border-radius-sm: 4px;
$border-radius-lg: 4px;
$border-radius-xl: 4px;
$border-radius-xxl: 4px;
$border-radius-pill: 50rem;

@import "../../node_modules/bootstrap/scss/bootstrap";
